html{
  scroll-behavior: smooth;
}
body {
margin: 0;
font-family: 'Montserrat', sans-serif;
color: white;
}
#container{
display: grid;
grid-template-areas:
          "nav"
          "welcome"
          "projects"
          "contact";

}
#welcome-section {
grid-area; welcome;
background-color: rgb(13, 31, 45);
height: 100vh;
display: grid;
grid-template-areas:
      "title"
      "subtitle";
grid-template-columns: auto;
grid-template-rows: 25%;
gap: 5% 20px;
}
#welcome-title{
  font-size: 5vw;
  text-align: center;
  grid-area: title;
  margin-top: 40vh;
  transition-duration: 1s;

}
#welcome-subtitle {
  grid-area: subtitle;
  text-align: center;
  font-size: 2vw;
  margin-top: 28vh;
  transition-duration: 1s;
}
#welcome-subtitle::before{
  color: rgb(13, 31, 45);
}
#welcome-title::before{
  color: rgb(13, 31, 45);
}

#projects {
grid-area: projects;
background-color: rgb(35, 55, 71);
display: flex;
justify-content: center;
height: 100vh;
padding-top: 60px;
box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.75);
}
.project-tile{
width: 25vw;
height: 35vh;
background-color: rgb(48, 76, 137);
border-radius: 4px;
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
animation-duration: 1s;
}
.project-tile:hover {
  opacity: 0.6;
}

.project-tile > img{
 width: 100%;
 height: 70%;
 border-top-left-radius: 4px;
 border-top-right-radius: 4px;
}
.project-tile > a {
  text-decoration: none;
}
.tile-text{
text-align: center;
color: white;
}
#project-grid {
display: grid;
grid-template-areas:
        "tile1 tile2 tile3"
        "tile4 tile5 tile6";
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr;
gap: 0px 60px;

}
#tile1{
grid-area: tile1;
}
#tile2{
grid-area: tile2;
}
#tile3{
grid-area: tile3;
}
#tile4{
grid-area: tile4;
}
#tile5{
grid-area: tile5;
}
#tile6{
grid-area: tile6;
}
#contact {
  grid-area: contact;
}
#navbar {
background-color: rgb(205, 195, 146);
position: fixed;
top:0;
width: 100%;
height: 10vh;
grid-area: nav;
box-shadow: 0px 5px 17px -5px rgba(0,0,0,0.75);
z-index: 1;
}
#nav-list{
display: flex;
flex-direction: row;
justify-content: flex-end;
}
.nav-items{
display: flex;
padding-right: 10px;
color: white;
text-decoration: none;
font-size: 4vh;
transition-duration: 1s;
}
.nav-items:hover {
  text-decoration: underline;
  text-decoration-color: rgb(13, 31, 45);

}
#contact {
  background-color: rgb(13, 31, 45);
  padding: 30px 20px;
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.75);
}
.contact-links {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 10px;
  transition-duration: 1s;
}
.contact-links:hover {
  text-decoration: underline;
  text-decoration-color: rgb(205, 195, 146);
}


/* ------- MEDIA QUERIES --------- */

@media (max-width: 750px) {
.nav-items {
  font-size: 1rem;
}
.tile-text {
  font-size: 0.5rem;
}
.project-tile {
  height: 25vh;
}
#project-grid{
gap: 0px 30px;
}
.contact-links{
  font-size: 0.75rem;
}
}


/* Phone size query*/
